<h1>GAME - Rock, Paper, Scissors</h1>
<h2>Choose Your Weapon:</h2>
<a href="rps_submitted?weapon=Paper"><%= image_tag "Paper.png",:class =>"rps_img" %></a>
<a href="rps_submitted?weapon=Rock"><%= image_tag "Rock.png",:class =>"rps_img" %></a>
<a href="rps_submitted?weapon=Scissors"><%= image_tag "Scissors.png",:class =>"rps_img" %></a>